<div class="Zero-page-content">
  <h1>Ovo je samo delic proizvoda koje imamo u ponudi...</h1>
  <div>
    <img class="foods" src="/assets/burger.png" />
    <img class="foods" src="/assets/crepe.png" />
  </div>
  <div>
    <img class="foods" src="/assets/ramen.png" />
    <img class="foods" src="/assets/pizza.png" />
  </div>
  <div>
    <img class="foods" src="/assets/sushi.png" />
    <img class="foods" src="/assets/pasta.png" />
  </div>
  <img class="chef-logo" src="/assets/chef.png" />
</div>
