.edit-con {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 5rem 2rem;
  background-color: #d9d5ca;
  height: fit-content;
}

textarea {
  resize: none;
  height: 10rem;
  width: 90%;
  overflow-x: scroll;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

label {
  margin: 5px;
}

select {
  font-size: 1rem;
  width: 9rem;
}

input {
  font-size: 1rem;
}

button {
  background-color: #222222;
  color: #d9d5ca !important;
  width: 10rem;
  margin: 10px;
}

button:hover {
  background-color: #d9d5ca !important;
  color: #222222 !important;
  border: 1px solid #222222 !important;
}

.info-label {
  font-size: 1.2rem;
  font-weight: 600;
  text-underline-position: below;
  text-decoration: underline;
}
