<div class="add-restoran-content">
  <h3>FORMA ZA DODAVANJE NOVOG RESTORANA</h3>
  <label>Naziv</label>
  <input [(ngModel)]="NovRestoran.ime" />
  <label>Email</label>
  <input [(ngModel)]="NovRestoran.email" />
  <label>Broj telefona</label>
  <input [(ngModel)]="NovRestoran.broj_telefona" />
  <label>Adresa</label>
  <input [(ngModel)]="NovRestoran.adresa" />
  <label>Lozinka</label>
  <input [(ngModel)]="NovRestoran.lozinka" />
  <label>kategorija</label>
  <input type="" [(ngModel)]="NovRestoran.string_kategorija" />
  <button (click)="Create()">Dodaj</button>
</div>
