<div class="rate-content">
  <div>
    <label>1 </label>
    <input type="radio" name="radiobutton" value="1" (click)="SetOcena('1')" />

    <label
      >2<input
        type="radio"
        name="radiobutton"
        value="2"
        (click)="SetOcena('2')"
    /></label>
    <label
      >3<input
        type="radio"
        name="radiobutton"
        value="3"
        (click)="SetOcena('3')"
    /></label>
    <label
      >4<input
        type="radio"
        name="radiobutton"
        value="4"
        (click)="SetOcena('4')"
    /></label>
    <label
      >5<input
        type="radio"
        name="radiobutton"
        value="4"
        (click)="SetOcena('5')"
    /></label>
  </div>
  <button mat-flat-button color="primary" (click)="Oceni()">Oceni</button>
</div>
