$custom-primary: (
  50: #f4f3f0,
  100: #e4e0db,
  200: #d2cbc3,
  300: #bfb6aa,
  400: #b2a798,
  500: #a49786,
  600: #9c8f7e,
  700: #928473,
  800: #897a69,
  900: #786956,
  A100: #fff1e1,
  A200: #ffdaae,
  A400: #ffc37b,
  A700: #ffb762,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$custom-accent: (
  50: #fafaf9,
  100: #f4f2ef,
  200: #eceae5,
  300: #e4e2da,
  400: #dfdbd2,
  500: #d9d5ca,
  600: #d5d0c5,
  700: #cfcabd,
  800: #cac4b7,
  900: #c0baab,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fffbf1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-lightdark: (
  50: #e4e4e4,
  100: #bdbdbd,
  200: #919191,
  300: #646464,
  400: #434343,
  500: #222222,
  600: #1e1e1e,
  700: #191919,
  800: #141414,
  900: #0c0c0c,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
