mat-icon {
  color: black;
  size: 2;
}

button {
  border: 5px solid rgb(104, 104, 104);
  background-color: rgb(104, 104, 104) !important;
  padding: 2px;
  text-align: center;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}
